<div class="jumbotron">
<form method="get" action="../movies/results">
  <div class="form-group">
    <label for="title" class="search_title_input">Search by Title</label>
    <input name="q" type="search" class="form-control" id="searchButton" placeholder="Title here please">
  </div>
  <button type="submit" class="btn btn-primary">Search</button>
</form>
</div>