<div class="jumbotron">
<form method="get" action="../movies/results">
  <div class="form-group">
    <label for="title">Title</label>
    <input name="q" type="search" class="form-control" id="searchButton" placeholder="">
  </div>
  <button type="submit" class="btn btn-primary">Search</button>
</form>
</div>