<h1>Shorten a link</h1>

<form method="post" action="/links">

  <div class="form-group">
    <label>Link to chop chop</label>
    <input type="text" name="link" class="form-control">
  </div>
  <input type="submit" class="btn btn-success">
</form>