<% include ../shared/header.ejs %>

  <h1 class="white-text"><%= article.title %></h1>
  <div class="well">
    <p><strong>Body:</strong> <%= article.body %></p>
  </div>

  <a href="/articles" class="btn btn-default">&larr; Back to Articles</a>

<% include ../shared/footer.ejs %>